.box {
    display: flex;
    justify-content: center;
    height: 100vh;
    
}

.welcome-container {
    text-align: center;
}

h1 {
    font-size: 4rem;
}

.headings{
    background: #21e8fd;;
    width: 100vh;
    color: white;
    padding: 1.5rem;
    text-align: center;
    border-radius: 0rem 0rem 15rem 15rem;   
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.login-button,
.signup-button {
    color: #fff;
    border: none;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: .5rem;
}

.login-button{
    background: #70965d;
}

.signup-button {
    background: #8f1b4c;}

.login-button:hover,.signup-button:hover {
    box-shadow: 5px 10px #888888;
    background: #fff;
    color: #8f1b4c;

}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #8f1b4c;
}